{% extends 'biotech/base.html' %}
{% load static %}

{% block content %}
    <h1 class="text-3xl font-bold text-gray-800 mb-8">Dashboard de Análise</h1>

 <div class="bg-white rounded-xl shadow-lg overflow-hidden">
    <table class="w-full text-left border-collapse">
        
            <thead class="bg-gray-50">
        <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Miniatura</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">ID Amostra</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Paciente</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Data</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Parasita</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">Confiança</th>
        </tr>

            
        </thead>
        <tbody class="divide-y divide-gray-100">
            {% for item in resultados %}
<tr class="hover:bg-gray-50 transition">
    <td class="px-6 py-4">
        {% if item.imagem %}
            <img src="http://127.0.0.1:8001{{ item.imagem }}" 
                class="w-20 h-16 object-cover rounded-md border shadow-sm cursor-pointer" 
                onclick="window.open(this.src)">
         {% else %}
            <span class="text-gray-400 text-xs italic">Sem imagem</span>
        {% endif %}
    </td>

    <td class="px-6 py-4 text-sm text-gray-500 font-mono">
        #{{ item.id_amostra|default:"N/A" }}
    </td>

    <td class="px-6 py-4 text-sm font-semibold text-blue-800">
        {{ item.nome_paciente|default:"Não Identificado" }}
    </td>

    <td class="px-6 py-4 text-sm text-gray-600">
        {{ item.data_analise }}
    </td>

    <td class="px-6 py-4 text-sm font-bold text-gray-800">
        {{ item.parasita_detectado }}
    </td>

    <td class="px-6 py-4">
        <span class="px-3 py-1 rounded-full text-xs font-medium 
            {% if item.confianca >= 80 %} bg-green-100 text-green-700 
            {% elif item.confianca >= 50 %} bg-yellow-100 text-yellow-700 
            {% else %} bg-gray-100 text-gray-700 {% endif %}">
            {{ item.confianca }}%
        </span>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="6" class="px-6 py-10 text-center text-gray-500 italic">
        Nenhum registro encontrado para os filtros aplicados.
    </td>
</tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}