<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Analise de Parasitas</title>

  <link rel="stylesheet" href="style.css">
  
</head>
<body>
  <script src="body.js"></script>

  <div class="sidebar">
    <h2>BioTech</h2>
    <div class="nav">
      <a onclick="showTab('dashboard')">📊 Dashboard</a>
      <a onclick="showTab('analise')">🧪 Análise</a>
      <a onclick="showTab('config')">⚙️ Configuração</a>
    </div>
  </div>

  <div class="main">
    <div class="header2">
      <h1>Dashboard de Detecção</h1>
    </div>

    <div class="cards">
      <div class="card">
        <h3>Imagens Analisadas</h3>
        <p>12</p>
      </div>
      <div class="card">
        <h3>Parasitas Detectados</h3>
        <p>17</p>
      </div>
      <div class="card">
        <h3>Precisão Média</h3>
        <p>92.4%</p>
      </div>
    </div>

    <div class="image-section">
      <h3>Upload da Lâmina</h3>
      <input type="file" accept="image/*" onchange="previewImage(event)" />
      <img id="preview" src="" alt="Pré-visualização" />
    </div>
  </div>
</body>
</html>
